# Jetbrains files
.idea
*.iml

# Project folders/dependencies
node_modules
build
coverage
manifest.webapp
target
./taret
./target
./target/classes
target/**
.classpath
.project

# Misc files
npm-debug.log
.DS_Store